<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Sabati. Plataforma ciclista. Aplicación ciclista. Aficionados al ciclismo, ..."/>
    <meta name="keywords" content="ciclismo, cicloturismo, ciclocross, el ciclismo de carretera, ciclismo de carretera, ciclismo carretera, el ciclismo de ruta, ciclismo ruta, ruta, rutas montainbike, montainbike"/>
    <meta name="robots" content="index, follow" />
    <meta name="google-site-verification" content="cTPPeQuIVk-5etI20q6pOWoFpEKNALNkkJw0li-sJ2Y" />
    <link rel="canonical" href="http://www.sabati.org/" />
    <meta property="og:locale" content="es_ES" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Sabati. - Plataforma Ciclista SABATI" />
	<meta property="og:description" content="Sabati. Plataforma ciclista. Aplicación ciclista. Aficionados al ciclismo, ..." />
	<meta property="og:url" content="http://www.sabati.org/" />
	<meta property="og:site_name" content="Sabati" />
	<meta name="twitter:card" content="summary_large_image"/>
	<meta name="twitter:description" content="Sabati. Plataforma ciclista. Aplicación ciclista. Aficionados al ciclismo, ..." />
	<meta name="twitter:title" content="Sabati. - Plataforma Ciclista SABATI" />
	<meta name="twitter:image" content="http://www.cubahora.cu/uploads/imagen/2015/12/02/titan-bike-mountain-rebelde-calixto-4.jpg"/>
	

    <title>Sabati. - Ciclismo para Ciclistas - Ciclismo - Ciclista</title>
    
    <!-- Bootstrap Core CSS -->
	<link th:href="@{/css/bootstrap.min.blog.css}" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link th:href="@{/css/agency.css}" rel="stylesheet"/>
    <link th:href="@{/css/clean-blog.css}" rel="stylesheet"/>
	<link th:href="@{/css/loading.css}" rel="stylesheet"/>



    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
	<div class="front-loading">
		<div class="spinner">
			  <div class="dot1"></div>
			  <div class="dot2"></div>
		</div>
    </div>

    <!-- Navigation -->
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Sabati Ciclismo</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/login">Sabati Plataforma Ciclista</a>
                    </li>
                    <li>
                        <a href="/plataforma-cliclista/ciclismo/sabati-aplicacion-ciclista-blog">Sabati Blog Ciclista</a>
                    </li>
                    <li>
                        <a href="/plataforma-cliclista/ciclismo/sobre-ciclismo-sabati">Sobre Sabati Ciclismo</a>
                    </li>
                    <li>
                        <a href="/plataforma-cliclista/ciclismo/sabati-aplicacion-ciclista-contact">Contacta con Sabati</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" th:style="'background-image:url(' + @{/img/sabati-ciclismo-ciclista-cicloturismo-merckx.jpg} + ');'">
        <div class="color" style="height:100%; width: 100%">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="page-heading">
                            <h1>Sabati.org Ciclismo para Ciclistas</h1>
                            <hr class="small"/>
                            <span class="subheading">Únete y experimenta el ciclismo haciendo cicloturismo, ciclocross, ciclismo de carretera, ciclismo de ruta o rutas montainbike.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2 col-md-10 col-md-offset-1">
                <form name="sentMessage" id="contactForm" th:action="@{/login}" method="post">
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Email</label>
                            <input type="email" class="form-control" placeholder="Email" id="email" name="username" data-validation-required-message="Please enter your email address."/>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Password</label>
                            <input type="password" class="form-control" placeholder="Password" id="pass" name="password" data-validation-required-message="Please enter your phone number."/>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br/>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-default">Log In</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-10 col-md-offset-1">
                   <div class="row control-group">
                       <div class="form-group col-xs-12 floating-label-form-group controls">
                           <label>Name</label>
                           <input type="email" class="form-control" placeholder="Name" id="firstname_regitery" data-validation-required-message="Please enter your email address."/>
                           <p class="help-block text-danger"></p>
                       </div>
                   </div>
                   <div class="row control-group">
                       <div class="form-group col-xs-12 floating-label-form-group controls">
                           <label>Email</label>
                           <input type="email" class="form-control" placeholder="Email" id="email_regitery" data-validation-required-message="Please enter your email address."/>
                           <p class="help-block text-danger"></p>
                       </div>
                   </div>
                   <div class="row control-group">
                       <div class="form-group col-xs-12 floating-label-form-group controls">
                           <label>Password</label>
                           <input type="password" class="form-control" placeholder="Password" id="password_regitery" data-validation-required-message="Please enter your phone number."/>
                           <p class="help-block text-danger"></p>
                       </div>
                   </div>
                    <div class="row control-group">
                       <div class="form-group col-xs-12 floating-label-form-group controls">
                           <label>Repeat Password</label>
                           <input type="password" class="form-control" placeholder="Repeat Password" id="confirm_password_regitery" data-validation-required-message="Please enter your phone number."/>
                           <p class="help-block text-danger"></p>
                       </div>
                   </div>
                   <br/>
                   <div id="success-regitery">¡¡Bienvenido a Sabati!! Tu cuenta ha sido creada. Recuerda validarla a través del email que recibirás (Mira en la carpeta de correo spam).</div>
                   <div class="row">
                       <div class="form-group col-xs-12">
                           <button class="btn btn-default"  onclick="confirmSignUp();">Registrate</button>
                       </div>
                   </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Email</label>
                            <input type="email" class="form-control" placeholder="Email" id="email_recovery"  data-validation-required-message="Please enter your email address."/>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br/>
                    <div id="success-recovery">Un email ha sido enviado a tu correo electronico.</div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-default" onclick="recover();">Recuperar Password</button>
                        </div>
                    </div>
                 </div>
        </div>
    </div>

    <hr/>

     <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sabati plataforma ciclista</h2>
                    <h3 class="section-subheading text-muted">Únete a la aplicación ciclista enfocada esclusivamenete a los amantes del ciclismo y a los aficionados del ciclismo. Sigue el blog de ciclismo y así prodrás seguir las últimas hazañas ciclistas o recuerda historias sobre el ciclismo del pasado.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" th:src="@{/img/etapa.jpg}" alt=""/>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Crea tus etapas</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">¡Crea las etapas que luego tu agrupación ciclista realizará y apuntate a ellas con solo un click!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" th:src="@{/img/team.jpg}" alt=""/>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Únete a los equipos ciclistas</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Crea tantos grupos ciclistas como quieras o únete a ellos de una forma muy senzilla.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" th:src="@{/img/notifications.jpg}" alt=""/>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Recibe notificaciones</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Recibe en tu mail los comunicados de tus equipos ciclistas que estes unido así como cuando un miembro a creado una etapa para que te puedas apuntar a ella.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" th:src="@{/img/tiempo.jpg}" alt=""/>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Analiza las condiciones meteorológicas</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Mira en la plataforma ciclista las condiciones climáticas de la etapa para ver el tiempo que hará durante la misma y así tu agrupación ciclista estará preparada.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" th:src="@{/img/responsive.jpg}" alt=""/>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Multiplataforma</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Puedes entra en la plataforma ciclista a traves del ordenador, tablet o movil.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
     <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Caracteristicas de Sabati</h2>
                    <h3 class="section-subheading text-muted">Mira las carateristicas que dispone la plataforma ciclista Sabati</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img th:src="@{/img/sabati_weather.jpg}" class="img-responsive" alt=""/>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Condiciones Climaticas</h4>
                        <p class="text-muted">Mira en la plataforma ciclista el tiempo real en la salida de la etapa</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img th:src="@{/img/sabati_habilidades.jpg}" class="img-responsive" alt=""/>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Radar de Habilidades</h4>
                        <p class="text-muted">Evaluate y muestra a otros miembros de Sabati aplicación ciclista lo que vales</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img th:src="@{/img/sabati_etapa.jpg}" class="img-responsive" alt=""/>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Altrimetria</h4>
                        <p class="text-muted">Analiza la etapas que te esperan antes de salir con tu grupo ciclista</p>
                    </div>
                </div>
           </div>
           <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img th:src="@{/img/sabati_ruta.jpg}" class="img-responsive" alt=""/>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Ruta</h4>
                        <p class="text-muted">Estudiate la ruta que seguireis y analizala gracias al mapa interactivo de la aplicación ciclista</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img th:src="@{/img/sabati_completadas.jpg}" class="img-responsive" alt=""/>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Completadas</h4>
                        <p class="text-muted">Mira como evoluciona el número de etapas que has realizando y hazte un seguimiento en la pataforma ciclista</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img th:src="@{/img/sabati_calendar.jpg}" class="img-responsive" alt=""/>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Calendario</h4>
                        <p class="text-muted">Con un vistazo rápido mira que etapas te van bien y apuntate mediante la aplicación ciclista al momento</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Equipo Sabati - Aplicación ciclista</h2>
                    <h3 class="section-subheading text-muted">Estos son los que lidrean esta plataforma ciclista para ciclistas.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-2">
                    <div class="team-member">
                        <img th:src="@{/img/vero.jpg}" class="img-responsive img-circle" alt=""/>
                        <h4>Vernica Vizcaino</h4>
                        <p class="text-muted">Sabati Marketing Director</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img th:src="@{/img/ernest.jpg}" class="img-responsive img-circle" alt=""/>
                        <h4>Ernest Ortuño</h4>
                        <p class="text-muted">Sabati CTO</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted"><i>"No hay que tener ningun miedo a perder, de hecho he perdido muchas más carreras de las que he ganado."</i> <b>Miguel Indurain</b></p>
                    <p class="large text-muted"><i>"Quieren espectáculo, quieren que subamos un día tras otro puertos impensables, y quieren que lo hagamos con espaguetis y agua?"</i> <b>Fernando Escartín</b></p>
                    <p class="large text-muted"><i>"Durante mi carrera ciclística fue muy importante el deseo de ganar, mi entrenamiento diario y la motivación que logré mantener durante 13 años."</i> <b>Eddy Merckx</b></p>
                    <p class="large text-muted"><i>"La vida es como la bicicleta, hay que pedalear hacia adelante para no perder el equilibrio"</i> <b>Albert Einstein</b></p>
                    <p class="large text-muted"><i>"Nada es comparable al sencillo placer de montar en bicicleta"</i> <b>John F. Kennedy</b></p>
                </div>
            </div>
        </div>
    </section>
    

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://twitter.com/SabatiCiclismo">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Sabati Ciclismo, Plataforma Ciclista 2016</p>
                </div>
            </div>
        </div>
    </footer>

<script th:src="@{/js/jquery.min.blog.js}"></script>
<script th:src="@{/js/bootstrap.min.blog.js}"></script>


    <!-- Custom Theme JavaScript -->
    <script th:src="@{/js/clean-blog.min.js}"></script>
    <script th:src="@{/js/peers/components.js}"></script>
    <script th:src="@{/js/track.js}"></script>
    
    
     <script type="text/javascript">
     $(".front-loading").hide();
     $(".front-loading").height($("body").height());
     $("#success-recovery").hide();
     $("#success-regitery").hide();
 		
        function confirmSignUp() {
        	var result = true;
        		
        	result = validateField('firstname_regitery', result);
        	result = validateField('email_regitery', result);
        	result = validateField('password_regitery', result);
        	result = validateField('confirm_password_regitery', result);
        	
        	if(result==true){        		
        		$.ajax({
           		    url : "/registration",
           		    type: "POST",
           		    data : {name: $( "#firstname_regitery" ).val(),
        	   		    	email: $("#email_regitery").val(),
        	   		    	pass: $("#password_regitery").val(),
        	   		    	passRepeated: $("#confirm_password_regitery").val()},
    	   		    beforeSend: function(){$('.front-loading').show();},
    			   	error: function(){$('.front-loading').hide();},
           		    success: function(data, textStatus, jqXHR) { 
           		    	$("#success-regitery").show();
           		    	$('.front-loading').hide();
           		    }
           		});
        		$("#password").val("");
        		$("#confirm_password").val("");
        	}
		}
        
        function recover() {	
        	
        	if(validateField('email_recovery', true)){
        		$.ajax({
           		    url : "/recover",
           		    type: "POST",
           		    data : {email: $("#email_recovery").val()},
           		    beforeSend: function(){$('.front-loading').show();},
 			   	    error: function(){$('.front-loading').hide();},
           		    success: function(data, textStatus, jqXHR) { 
           		    	$("#success-recovery").show();
           		    	$('.front-loading').hide();

           		    }
           		});
        	}
    		
    	
	}
</script>

</body>

</html>
