<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>BikeTeam Profile</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
<link th:href="@{/css/bootstrap-responsive.min.css}" rel="stylesheet"/>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet"/>
<link th:href="@{/css/font-awesome.css}" rel="stylesheet"/>
<link th:href="@{/css/style.css}" rel="stylesheet"/>
<link th:href="@{/css/pages/dashboard.css}" rel="stylesheet"/>
<link th:href="@{/css/loading.css}" rel="stylesheet"/>
<link th:href="@{/js/guidely/guidely.css}" rel="stylesheet"/> 

</head>
<body>
	<div class="front-loading">
		<div class="spinner">
			  <div class="dot1"></div>
			  <div class="dot2"></div>
		</div>
    </div>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse"><span class="icon-bar"></span><span
					class="icon-bar"></span><span class="icon-bar"></span> </a><a
					class="brand" href="#">BikeTeam</a>
				<div class="nav-collapse">
					<ul class="nav pull-right">
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown"> Ernest Ortuño <b class="caret"></b></a>

							<ul class="dropdown-menu">
								<li><a href="/logout">Logout</a></li>
							</ul></li>
					</ul>
				</div>
			</div>
			<!--/.nav-collapse -->
		</div>
		<!-- /container -->
	</div>
	<!-- /navbar-inner -->
	
	<!-- /navbar -->
	<div class="subnavbar">

		<!-- /subnavbar-inner -->
	</div>
	<!-- /subnavbar -->
	<div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="row">
                    <div class="span6">
                    	<div id="div-menu" class="widget">
				            <div class="widget-header"> <i class="icon-bookmark"></i>
				              <h3>What to see</h3>
				            </div>
				            <!-- /widget-header -->
				             <div class="widget-content">
				              <div class="shortcuts"> 
				              	<a href="/home" class="shortcut"><i class="shortcut-icon icon-globe"></i><span class="shortcut-label">Home</span></a>
				                <a href="/profile" class="shortcut shortcut-active"><i class="shortcut-icon icon-user"></i><span class="shortcut-label">Profile</span></a>
				                <a href="/stages" class="shortcut"><i class="shortcut-icon icon-picture"></i><span class="shortcut-label">Stages</span></a>
				                <a href="/teams" class="shortcut"><i class="shortcut-icon icon-group"></i> <span class="shortcut-label">Teams</span></a>
				              </div>
				              <!-- /shortcuts --> 
				            </div>
				          </div>
				          <div id="div-teams" class="widget" >
				            <div class="widget-header"> <i class="icon-group"></i>
				              <h3>Teams</h3>
				              <a href="#modal-create-team" role="button" class="btn btn-primary" data-toggle="modal">Create</a>
								<!-- Modal -->
								<div id="modal-create-team" class="modal hide fade" tabindex="-1"
									role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
										<h3 id="myModalLabel">Create Team</h3>
									</div>
									<div class="modal-body">
										<div class="control-group">											
											<label class="control-label" for="name">Name</label>
											<div class="controls">
												<input type="text" class="span4" id="input-team-name"></input>
											</div>				
										</div>
									</div>
									<div class="modal-footer">
										<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
										<button class="btn btn-primary" onclick="createTeam()">Create</button>
									</div>
								</div>
								<a href="#modal-join-team" role="button" class="btn btn-success" data-toggle="modal">Join</a>
								<!-- Modal -->
								<div id="modal-join-team" class="modal hide fade" tabindex="-1"
									role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
										<h3 id="myModalLabel">Join Team</h3>
									</div>
									<div class="modal-body">
										<div class="control-group">											
											<label class="control-label" for="name">Team Code</label>
											<div class="controls">
												<input type="text" class="span4" id="input-team-code"></input>
											</div>				
										</div>
									</div>
									<div class="modal-footer">
										<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
										<button class="btn btn-primary" onclick="joinTeam()">Join</button>
									</div>
								</div>
				            </div>
							<div class="widget-content">
								<table class="table table-striped table-bordered">
									<tbody>
										<tr>
											<th>Name</th>
											<th>Join Code</th>
											<th>Action</th>
										</tr>
										<tr th:each="team : ${teams}">
											<td th:text="${team.name}"></td>
											<td th:text="${team.id}"></td>
											<td><button class="btn btn-danger" th:onclick="'unjoinTeam(\''+ ${team.id} +'\')'">Unjoin</button></td>
										</tr>
									</tbody>
								</table>
							</div>
				          </div>
                       <div id="div-personal" class="widget">
							<div class="widget-header">
								<i class="icon-user"></i>
								<h3>Personal Information</h3>
								<a href="#modal-personal-information" role="button" class="btn" data-toggle="modal">Edit</a>

								<!-- Modal -->
								<div id="modal-personal-information" class="modal hide fade" tabindex="-1"
									role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
										<h3 id="myModalLabel">Edit Personal Information</h3>
									</div>
									<div class="modal-body">
										<div class="control-group">											
											<label class="control-label" for="name">Name</label>
											<div class="controls">
												<input type="text" class="span4" id="input-name" th:value="${name}"></input>
											</div>				
										</div>
										<div class="control-group">											
											<label class="control-label" for="description">Description</label>
											<div class="controls">
												<input type="text" class="span6" id="input-description" th:value="${description}"></input>
											</div>				
										</div>
										<div class="control-group">											
											<label class="control-label" for="description">Avatar</label>
											<div class="controls">
												<input th:each="indexAvatar : ${#numbers.sequence( 1, 40)}" type="radio" class="radio-inline" name="input-avatar" th:id="'input-avatar-' + ${indexAvatar}" th:value="${indexAvatar}"><img width="50px" height="50px" th:src="@{'/img/avatar/avatar_' + ${indexAvatar} + '.png'}" /></input>
											</div>				
										</div>
									</div>
									<div class="modal-footer">
										<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
										<button class="btn btn-primary" onclick="savePersonalInformation()">Save changes</button>
									</div>
								</div>
							</div>
							<!-- /widget-header -->
                            <div class="widget-content">
                            	<img width="50px" height="50px" th:src="@{'/img/avatar/avatar_'+${avatarIcon}+'.png'}" />
                                <h1 th:text="${name}"/>
                                <p th:text="${description}"/>
                            </div>
                            <!-- /widget-content -->
                        </div>
                       
                        <!-- /widget -->
                        <div id="div-bikes" class="widget">
                            <div class="widget-header">
                                <i class="icon-cog"></i>
                                <h3>Bikes</h3>
                                <a href="#modal-add-bike" role="button" class="btn" data-toggle="modal">Add</a>
                               
								<!-- Modal -->
								<div id="modal-add-bike" class="modal hide fade" tabindex="-1"
									role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
										<h3 id="myModalLabel">Add Bike</h3>
									</div>
									<div class="modal-body">
										<div class="control-group">											
											<label class="control-label" for="name">Bike Name</label>
											<div class="controls">
												<input type="text" class="span4" id="input-bike-name"></input>
											</div>				
										</div>
									</div>
									<div class="modal-footer">
										<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
										<button class="btn btn-primary" onclick="addBike()">Add</button>
									</div>									
								</div>
								
								<a href="#modal-remove-bike" role="button" class="btn btn-danger" data-toggle="modal">Delete</a>
								<div id="modal-remove-bike" class="modal hide fade" tabindex="-1"
									role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
										<h3 id="myModalLabel">Delete Bike/s</h3>
									</div>
									<div class="modal-body">
										<div th:each="bike : ${bikes}" class="control-group">
											<div class="checkbox">
											<input type="checkbox" name="input-delete-bike" th:value="${bike.id}"/>
											  <label th:text="${bike.name}"></label>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
										<button class="btn btn-danger" onclick="deleteBikes()">Delete</button>
									</div>
								</div>
                            </div>
                         
                            <!-- /widget-header -->
                            <div th:each="bike : ${bikes}" class="widget-content">
                               <h1 th:text="${bike.name}"></h1> 
                            </div>
                            <!-- /widget-content -->
                        </div>
                        <!-- /widget -->
                    </div>
                    <!-- /span6 -->
                    <div class="span6">

                      
                       
                        <!-- /widget -->
                        <div id="div-skills" class="widget">
                            <div class="widget-header">
                                <i class="icon-bar-chart"></i>
                                <h3>Skills</h3>
                                <a href="#modal-skills" role="button" class="btn" data-toggle="modal">Edit</a>

								<!-- Modal -->
								<div id="modal-skills" class="modal hide fade" tabindex="-1"
									role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
										<h3 id="myModalLabel">Edit Skills</h3>
									</div>
									<div class="modal-body">
										<div class="control-group">											
											<label class="control-label" for="name">Resistence [1, 10]</label>
											<div class="controls">
												<input type="number" min="1" max="10" class="span1" id="input-resistence" th:value="${statistics.resistence}"></input>
											</div>				
										</div>
										<div class="control-group">											
											<label class="control-label" for="name">Sprint [1, 10]</label>
											<div class="controls">
												<input type="number" min="1" max="10" class="span1" id="input-sprint" th:value="${statistics.sprint}"></input>
											</div>				
										</div>
										<div class="control-group">											
											<label class="control-label" for="name">Montain [1, 10]</label>
											<div class="controls">
												<input type="number" min="1" max="10" class="span1" id="input-montain" th:value="${statistics.montain}"></input>
											</div>				
										</div>
										<div class="control-group">											
											<label class="control-label" for="name">Flat [1, 10]</label>
											<div class="controls">
												<input type="number" min="1" max="10" class="span1" id="input-flat" th:value="${statistics.flat}"></input>
											</div>				
										</div>
										<div class="control-group">											
											<label class="control-label" for="name">Btt [1, 10]</label>
											<div class="controls">
												<input type="number" min="1" max="10" class="span1" id="input-btt" th:value="${statistics.btt}"></input>
											</div>				
										</div>
										<div class="control-group">											
											<label class="control-label" for="name">Road [1, 10]</label>
											<div class="controls">
												<input type="number" min="1" max="10" class="span1" id="input-road" th:value="${statistics.road}"></input>
											</div>				
										</div>

									</div>
									<div class="modal-footer">
										<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
										<button class="btn btn-primary" onclick="saveSkills()">Save changes</button>
									</div>
								</div>
                            </div>
                            <!-- /widget-header -->
                            <div class="widget-content">
                                <canvas id="line-chart" class="chart-holder" width="538" height="250">
                                </canvas>
                                <!-- /-chart -->
                            </div>
                            <!-- /widget-content -->
                        </div>
                        <!-- /widget -->
                         <div id="div-joined" class="widget">

                            <div class="widget-header">
                                <i class="icon-bar-chart"></i>
                                <h3>Statges Joinned</h3>
                            </div>
                            <!-- /widget-header -->
                            <div class="widget-content">
                                <canvas id="bar-chart" class="chart-holder" width="538" height="250">
                                </canvas>
                                <!-- /bar-chart -->
                            </div>
                            <!-- /widget-content -->
                        </div>
                    </div>
                    <!-- /span6 -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /main-inner -->
    </div>
    	<!-- /main -->
	<div class="extra">
		<div class="extra-inner">
			<div class="container">
				<div class="row">
					<div class="span3">
						<h4>Support</h4>
						<ul>
							<li><a href="javascript:;">Frequently Asked Questions</a></li>
							<li><a href="javascript:;">Ask a Question</a></li>
							<li><a href="javascript:;">Video Tutorial</a></li>
							<li><a href="javascript:;">Feedback</a></li>
						</ul>
					</div>
					<!-- /span3 -->

					<!-- /span3 -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /extra-inner -->
	</div>
	<!-- /extra -->
	<div class="footer">
		<div class="footer-inner">
			<div class="container">
				<div class="row">
					<div class="span12"> &copy; 2016 BikeTeam</div>
					<!-- /span12 -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /footer-inner -->
	</div>
	<!-- /footer -->
	<!-- Le javascript
================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script th:src="@{/js/jquery-1.7.2.min.js}"></script>
	<script th:src="@{/js/excanvas.min.js}"></script>
	<script th:src="@{/js/chart.min.js}" type="text/javascript"></script>
	<script th:src="@{/js/bootstrap.js}"></script>
	<script th:src="@{/js/base.js}"></script>
	<script th:src="@{/js/guidely/guidely.min.js}"></script>

    <script th:inline="javascript">
    $(".front-loading").hide();
    $(".front-loading").height($("body").height());
    
    function createTeam(){
    	if(validateField('input-team-name', true)){
    		$('#modal-create-team').modal('hide');
	   		$.ajax({
	   		    url : "/profile/createteam",
	   		    type: "POST",
	   		    data : {name: $("#input-team-name").val()},
	   		 	beforeSend: function(){$('.front-loading').show();},
		   		error: function(){$('.front-loading').hide();},
			    success: function(data, textStatus, jqXHR) { setTimeout(function(){ location.reload(); }, 3000);}
	   		});	
    	}
    }
    
    function unjoinTeam(teamIdValue){
   		$.ajax({
   		    url : "/profile/unjointeam",
   		    type: "POST",
   		    data : {teamId: teamIdValue},
   		    beforeSend: function(){$('.front-loading').show();},
	   		error: function(){$('.front-loading').hide();},
		    success: function(data, textStatus, jqXHR) { setTimeout(function(){ location.reload(); }, 3000);}
   		});	
    }
    
    function joinTeam(){
    	if(validateField('input-team-code', true)){
    		$('#modal-join-team').modal('hide');
	   		$.ajax({
	   		    url : "/profile/jointeam",
	   		    type: "POST",
	   		    data : {teamId: $("#input-team-code").val()},
	   		 	beforeSend: function(){$('.front-loading').show();},
		   		error: function(){$('.front-loading').hide();},
			    success: function(data, textStatus, jqXHR) { setTimeout(function(){ location.reload(); }, 3000);}
	   		});	
    	}
    }
    
function deleteBikes(){
    	var bikes = [];
    	
    	$('input[name=input-delete-bike]:checked').each(function(){
    		bikes.push($(this).attr("value"));
    	});
    	if(bikes.length > 0){
    		$('#modal-remove-bike').modal('hide');
    		$.ajax({
    		    url : "/profile/deltebikes",
    		    type: "POST",
    		    data : {ids: bikes.toString()},
    		    beforeSend: function(){$('.front-loading').show();},
		   		error: function(){$('.front-loading').hide();},
			    success: function(data, textStatus, jqXHR) { setTimeout(function(){ location.reload(); }, 3000);}
    		});	
    	}
    }
    
    function savePersonalInformation(){
    	var iconAvatar = $('input[name=input-avatar]').filter(':checked').val();
    	if(iconAvatar == null){
    		iconAvatar='undefined';
    	}
    	if(validateField('input-name', true)){
    		$('#modal-personal-information').modal('hide');
    		$.ajax({
    		    url : "/profile/savepersonalinformation",
    		    type: "POST",
    		    data : {name: $("#input-name").val(), description: $("#input-description").val(), icon: iconAvatar},
    		    beforeSend: function(){$('.front-loading').show();},
		   		error: function(){$('.front-loading').hide();},
			    success: function(data, textStatus, jqXHR) { setTimeout(function(){ location.reload(); }, 3000);}
    		});
    	}
    }
    
    function saveSkills(){
    	$('#modal-skills').modal('hide');
   		$.ajax({
   		    url : "/profile/saveskills",
   		    type: "POST",
   		    data : {resistence: $("#input-resistence").val(),
	   		    	sprint: $("#input-sprint").val(),
	   		    	montain: $("#input-montain").val(),
	   		    	flat: $("#input-flat").val(),
	   		    	btt: $("#input-btt").val(),
   		    		road: $("#input-road").val()},
 		   	beforeSend: function(){$('.front-loading').show();},
 			error: function(){$('.front-loading').hide();},
 			success: function(data, textStatus, jqXHR) { setTimeout(function(){ location.reload(); }, 3000);}
   		});
    }
    
    function addBike(){
    	if(validateField('input-bike-name', true)){
    		$('#modal-add-bike').modal('hide');
    		$.ajax({
       		    url : "/profile/addbike",
       		    type: "POST",
       		    data : {name: $("#input-bike-name").val()},
       		 	beforeSend: function(){$('.front-loading').show();},
  				error: function(){$('.front-loading').hide();},
  				success: function(data, textStatus, jqXHR) { setTimeout(function(){ location.reload(); }, 3000);}
       		});
    	}
    }
       
    
    /*<![CDATA[*/
     var currentMonth = /*[[${currentMonth }]]*/;
     var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
    
     var stagesJoined = /*[[${stagesJoined}]]*/;
     var dataArray = [];
     
     if(stagesJoined[(currentMonth + 8)%12] != null){
    	 dataArray.push(stagesJoined[(currentMonth + 8)%12]);
     }else{
    	 dataArray.push(0);
     }
 
     
     if(stagesJoined[(currentMonth + 9)%12] != null){
    	 dataArray.push(stagesJoined[(currentMonth + 9)%12]);
     }else{
    	 dataArray.push(0);
     }
 
     
     if(stagesJoined[(currentMonth + 10)%12] != null){
    	 dataArray.push(stagesJoined[(currentMonth + 10)%12]);
     }else{
    	 dataArray.push(0);
     }
 
     
     if(stagesJoined[(currentMonth + 11)%12] != null){
    	 dataArray.push(stagesJoined[(currentMonth + 11)%12]);
     }else{
    	 dataArray.push(0);
     }
 
    	 
     if(stagesJoined[(currentMonth)%12] != null){
    	 dataArray.push(stagesJoined[(currentMonth)%12]);
     }else{
         dataArray.push(0);
     }
     
     if(stagesJoined[(currentMonth + 1)%12] != null){
    	 dataArray.push(stagesJoined[(currentMonth + 1)%12]);
     }else{
    	 dataArray.push(0);
     }
 
     
     if(stagesJoined[(currentMonth + 2)%12] != null){
    	 dataArray.push(stagesJoined[(currentMonth + 2)%12]);
     }else{
    	 dataArray.push(0);
     }
 
     
    	 var barChartData = {
            labels: [months[(currentMonth + 8)%12],
                     months[(currentMonth + 9)%12],
                     months[(currentMonth + 10)%12],
                     months[(currentMonth + 11)%12],
                     months[(currentMonth + 0)%12],
                     months[(currentMonth + 1)%12],
                     months[(currentMonth + 2)%12]],
            datasets: [
        {
            fillColor: "rgba(151,187,205,0.5)",
            strokeColor: "rgba(151,187,205,1)",
            highlightFill: "rgba(151,187,205,0.75)",
            highlightStroke: "rgba(151,187,205,1)",
            data: dataArray
        },
      ]
        }
	var myLine = new Chart(document.getElementById("bar-chart").getContext("2d")).Bar(barChartData);
    /*]]>*/
        /*<![CDATA[*/
            var resistence = /*[[${statistics.resistence}]]*/;
	        var sprint = /*[[${statistics.sprint}]]*/;
	        var montain = /*[[${statistics.montain}]]*/;
	        var flat = /*[[${statistics.flat}]]*/;
	        var btt = /*[[${statistics.btt}]]*/;
	        var road = /*[[${statistics.road}]]*/;                
        /*]]>*/
        
        
        var data = {
        	    labels: ["Resistence", "Sprint", "Montain", "Flat", "BTT", "Road"],
        	    datasets: [
					{
					    label: "My First dataset",
					    fillColor: "rgba(255,255,255,0)",
					    strokeColor: "rgba(255,255,255,0)",
					    pointColor: "rgba(255,255,255,0)",
					    pointStrokeColor: "#FFFFFF",
					    pointHighlightFill: "#FFFFFF",
					    pointHighlightStroke: "rgba(255,255,255,0)",
					    data: [0, 2, 4, 6, 8, 10]
					},
        	        {
        	            label: "My Second dataset",
        	            fillColor: "rgba(151,187,205,0.2)",
        	            strokeColor: "rgba(151,187,205,1)",
        	            pointColor: "rgba(151,187,205,1)",
        	            pointStrokeColor: "#fff",
        	            pointHighlightFill: "#fff",
        	            pointHighlightStroke: "rgba(151,187,205,1)",
        	            data: [resistence, sprint, montain, flat, btt, road]
        	        }
        	    ]
        	};
        
        new Chart(document.getElementById("line-chart").getContext("2d")).Radar(data);
    
        
        function validateField(fieldId, previosResult){
        	var result = true;
        	if($('#' + fieldId).val()==""){
        		$('#' + fieldId).removeClass("invalid").removeClass("valid").addClass("invalid");
         		result = false;
         	}else{
         		$('#' + fieldId).removeClass("invalid").removeClass("valid").addClass("valid");
         	}
        	if(previosResult == false){
        		result = false;
        	}
        	return result;
        }
        
		$(function () {
			
			guidely.add ({
				attachTo: '#div-menu'
				, anchor: 'top-left'
				, title: 'Guide 1/6'
				, text: 'This is the menu, use it to travel through the platform'
			});
			
			guidely.add ({
				attachTo: '#div-teams'
				, anchor: 'top-left'
				, title: 'Guide 2/6'
				, text: 'Here you will be able to create a team o join your friend teams providing its code'
			});
			
			guidely.add ({
				attachTo: '#div-personal'
				, anchor: 'top-left'
				, title: 'Guide 3/6'
				, text: 'Change your name, set up a description and pick up an avatar!'
			});
			
			guidely.add ({
				attachTo: '#div-bikes'
				, anchor: 'top-left'
				, title: 'Guide 4/6'
				, text: 'Add or Remove your bikes'
			});
			
			guidely.add ({
				attachTo: '#div-skills'
				, anchor: 'top-left'
				, title: 'Guide 5/6'
				, text: 'Score you skills from 1 to 10!'
			});
			
			guidely.add ({
				attachTo: '#div-joined'
				, anchor: 'top-left'
				, title: 'Guide 6/6'
				, text: 'Here you can see how many stages you have joined'
			});
			
			guidely.init ({ welcome: false, startTrigger: true });
		});
  </script>
</body>
</html>
