<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sabati Sign Up</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
<link th:href="@{/css/bootstrap-responsive.min.css}" rel="stylesheet"/>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet"/>
<link th:href="@{/css/font-awesome.css}" rel="stylesheet"/>
<link th:href="@{/css/style.css}" rel="stylesheet"/>
<link th:href="@{/css/pages/signin.css}" rel="stylesheet"/>
<link th:href="@{/css/loading.css}" rel="stylesheet"/>

</head>

<body>
	
	<div class="navbar navbar-fixed-top">
	
	<div class="navbar-inner">
		
		<div class="container">
			
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="#">Sabati</a>	
	
		</div> <!-- /container -->
		
	</div> <!-- /navbar-inner -->
	
</div> <!-- /navbar -->



<div class="account-container register">
	
	<div class="content clearfix">
		
		
			<h1 th:text="#{signup.title}"></h1>			
			
			<div class="login-fields">				
				<div class="field">
					<label for="firstname" th:text="#{signup.name}"></label>
					<input type="text" id="firstname" name="firstname" value="" placeholder="Name" class="login" />
				</div> <!-- /field -->
				
				<div class="field">
					<label for="email" th:text="#{signup.email}"></label>
					<input type="text" id="email" name="email" value="" placeholder="Email" class="login"/>
				</div> <!-- /field -->
				
				<div class="field">
					<label for="password" th:text="#{signup.pass}"></label>
					<input type="password" id="password" name="password" value="" placeholder="Password" class="login"/>
				</div> <!-- /field -->
				
				<div class="field">
					<label for="confirm_password" th:text="#{signup.passconf}"></label>
					<input type="password" id="confirm_password" name="confirm_password" value="" placeholder="Confirm Password" class="login"/>
				</div> <!-- /field -->
				
				
				
			</div> <!-- /login-fields -->
			
			<div class="login-actions">									
				<button class="button btn btn-primary btn-large" onclick="confirmSignUp();" th:text="#{signup}"></button>
				
			</div> <!-- .actions -->
			<div><p id="alert-succes" th:text="#{register.message}"></p></div> <!-- /field -->
		
	</div> <!-- /content -->
	
</div> <!-- /account-container -->


<!-- Text Under Box -->
<div class="login-extra">
	 <span th:text="#{alreadyacount.message}"></span><a href="/login" th:text="#{login.message}"></a>
</div> <!-- /login-extra -->

<script th:src="@{/js/jquery-1.7.2.min.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/signin.js}"></script>
<script th:src="@{/js/peers/components.js}"></script>

 <script type="text/javascript">
 		$("p").hide();
 		
        function confirmSignUp() {
        	var result = true;
        		
        	result = validateField('firstname', result);
        	result = validateField('email', result);
        	result = validateField('password', result);
        	result = validateField('confirm_password', result);
        	
        	if(result==true){
        		
        		$("p").show();
        		$.ajax({
           		    url : "/registration",
           		    type: "POST",
           		    data : {name: $( "#firstname" ).val(),
        	   		    	email: $("#email").val(),
        	   		    	pass: $("#password").val(),
        	   		    	passRepeated: $("#confirm_password").val()},
           		    success: function(data, textStatus, jqXHR) { 
           		    }
           		});
        		$("#password").val("");
        		$("#confirm_password").val("");
        	}
		}
        </script>

</body>

 </html>
